workflow.json
{
  "name": "Competitor Playbook Generator (Gamma)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "competitor-playbook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "competitor-playbook"
    },
    {
      "parameters": {
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.firecrawlApi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.body.url }}\",\n  \"formats\": [\"markdown\", \"html\"],\n  \"onlyMainContent\": true,\n  \"includeTags\": [\"h1\", \"h2\", \"h3\", \"p\", \"li\", \"a\"],\n  \"waitFor\": 3000\n}",
        "options": {}
      },
      "id": "firecrawl-homepage",
      "name": "Firecrawl - Homepage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 100],
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.firecrawlApi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.body.url }}/about\",\n  \"formats\": [\"markdown\"],\n  \"onlyMainContent\": true,\n  \"waitFor\": 2000\n}",
        "options": {}
      },
      "id": "firecrawl-about",
      "name": "Firecrawl - About Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 250],
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.firecrawlApi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.body.url }}/pricing\",\n  \"formats\": [\"markdown\"],\n  \"onlyMainContent\": true,\n  \"waitFor\": 2000\n}",
        "options": {}
      },
      "id": "firecrawl-pricing",
      "name": "Firecrawl - Pricing Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 400],
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.firecrawlApi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.body.url }}/blog\",\n  \"formats\": [\"markdown\"],\n  \"onlyMainContent\": true,\n  \"waitFor\": 2000\n}",
        "options": {}
      },
      "id": "firecrawl-blog",
      "name": "Firecrawl - Blog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 550],
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.scrapecreators.com/v1/linkedin/company?url=https://linkedin.com/company/{{ $json.body.linkedin_handle }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.scrapeCreatorsApi.apiKey }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "scrapecreators-linkedin",
      "name": "ScrapeCreators - LinkedIn Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.scrapecreators.com/v1/instagram/profile?handle={{ $json.body.instagram_handle }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.scrapeCreatorsApi.apiKey }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "scrapecreators-instagram",
      "name": "ScrapeCreators - Instagram Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 850],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.scrapecreators.com/v1/facebookadlibrary/profile?handle={{ $json.body.facebook_handle }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.scrapeCreatorsApi.apiKey }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "scrapecreators-meta-ads",
      "name": "ScrapeCreators - Meta Ad Library",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 1000],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/dataforseo_labs/google/domain_rank_overview/live",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $credentials.dataForSeoApi.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"target\": \"{{ $json.body.url.replace('https://', '').replace('http://', '').replace('www.', '').split('/')[0] }}\"\n  }\n]",
        "options": {
          "timeout": 30000
        }
      },
      "id": "dataforseo-overview",
      "name": "DataForSEO - Domain Overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 1150],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-website-data",
      "name": "Merge Website Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Combine all website scraping results\nconst items = $input.all();\n\nlet websiteData = {\n  homepage: '',\n  about: '',\n  pricing: '',\n  blog: ''\n};\n\n// Process each input (homepage, about, pricing, blog)\nfor (const item of items) {\n  const data = item.json;\n  \n  if (data.data && data.data.markdown) {\n    const url = data.data.metadata?.url || '';\n    const content = data.data.markdown.substring(0, 15000); // Limit size\n    \n    if (url.includes('/about')) {\n      websiteData.about = content;\n    } else if (url.includes('/pricing')) {\n      websiteData.pricing = content;\n    } else if (url.includes('/blog')) {\n      websiteData.blog = content;\n    } else {\n      websiteData.homepage = content;\n    }\n  }\n}\n\n// Get original URL from first item's input\nconst originalUrl = items[0]?.json?.body?.url || 'Unknown';\n\nreturn {\n  json: {\n    original_url: originalUrl,\n    website_data: websiteData,\n    scraped_at: new Date().toISOString()\n  }\n};"
      },
      "id": "process-website-data",
      "name": "Process Website Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.anthropicApi.apiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 8000,\n  \"system\": \"You are an elite competitive intelligence analyst. Your analysis is direct, actionable, and data-driven. You focus on 'stealable' tactics and specific recommendations. Always output valid JSON.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze this competitor and generate a comprehensive playbook breakdown.\\n\\n## COMPANY URL\\n{{ $json.original_url }}\\n\\n## HOMEPAGE CONTENT\\n{{ $json.website_data.homepage }}\\n\\n## ABOUT PAGE\\n{{ $json.website_data.about }}\\n\\n## PRICING PAGE\\n{{ $json.website_data.pricing }}\\n\\n## BLOG CONTENT\\n{{ $json.website_data.blog }}\\n\\n---\\n\\nGenerate your analysis as a JSON object with this exact structure:\\n\\n{\\n  \\\"company_name\\\": \\\"extracted company name\\\",\\n  \\\"company_url\\\": \\\"the URL analyzed\\\",\\n  \\\"analysis_date\\\": \\\"today's date\\\",\\n  \\\"executive_summary\\\": {\\n    \\\"one_liner\\\": \\\"One sentence summary\\\",\\n    \\\"threat_level\\\": \\\"LOW | MEDIUM | HIGH | CRITICAL\\\",\\n    \\\"key_insights\\\": [\\\"insight 1\\\", \\\"insight 2\\\", \\\"insight 3\\\", \\\"insight 4\\\", \\\"insight 5\\\"]\\n  },\\n  \\\"positioning\\\": {\\n    \\\"value_proposition\\\": \\\"Their core value prop\\\",\\n    \\\"target_audience\\\": \\\"Who they sell to\\\",\\n    \\\"key_differentiators\\\": [\\\"diff 1\\\", \\\"diff 2\\\", \\\"diff 3\\\"],\\n    \\\"market_position\\\": \\\"Leader | Challenger | Niche | Emerging\\\"\\n  },\\n  \\\"messaging\\\": {\\n    \\\"brand_voice\\\": \\\"Their tone and style\\\",\\n    \\\"primary_hooks\\\": [{\\\"hook\\\": \\\"exact text\\\", \\\"type\\\": \\\"Pain | Gain | Fear | Curiosity\\\", \\\"effectiveness\\\": \\\"why it works\\\"}],\\n    \\\"key_phrases\\\": [\\\"phrase 1\\\", \\\"phrase 2\\\"],\\n    \\\"proof_elements\\\": [\\\"proof 1\\\", \\\"proof 2\\\"]\\n  },\\n  \\\"content_strategy\\\": {\\n    \\\"content_pillars\\\": [\\\"topic 1\\\", \\\"topic 2\\\"],\\n    \\\"formats_used\\\": [\\\"blog\\\", \\\"video\\\"],\\n    \\\"publishing_frequency\\\": \\\"how often\\\",\\n    \\\"top_performing_content\\\": [{\\\"title\\\": \\\"content title\\\", \\\"format\\\": \\\"type\\\", \\\"why_it_works\\\": \\\"analysis\\\"}],\\n    \\\"distribution_channels\\\": [\\\"channel 1\\\", \\\"channel 2\\\"]\\n  },\\n  \\\"ad_psychology\\\": {\\n    \\\"ad_volume\\\": \\\"activity level or N/A if no data\\\",\\n    \\\"primary_ad_types\\\": [\\\"type 1\\\"],\\n    \\\"hook_patterns\\\": [{\\\"pattern\\\": \\\"pattern name\\\", \\\"example\\\": \\\"text\\\", \\\"psychological_trigger\\\": \\\"trigger\\\"}],\\n    \\\"visual_style\\\": \\\"description\\\",\\n    \\\"cta_patterns\\\": [\\\"cta 1\\\"]\\n  },\\n  \\\"gaps_and_opportunities\\\": {\\n    \\\"content_gaps\\\": [{\\\"gap\\\": \\\"what's missing\\\", \\\"opportunity\\\": \\\"how to exploit\\\"}],\\n    \\\"messaging_gaps\\\": [{\\\"gap\\\": \\\"angle missing\\\", \\\"opportunity\\\": \\\"how to exploit\\\"}],\\n    \\\"audience_gaps\\\": [{\\\"gap\\\": \\\"segment ignored\\\", \\\"opportunity\\\": \\\"how to capture\\\"}]\\n  },\\n  \\\"how_to_beat_them\\\": {\\n    \\\"quick_wins\\\": [{\\\"tactic\\\": \\\"action\\\", \\\"why\\\": \\\"reason\\\", \\\"effort\\\": \\\"LOW | MEDIUM | HIGH\\\"}],\\n    \\\"positioning_plays\\\": [{\\\"play\\\": \\\"strategy\\\", \\\"execution\\\": \\\"how to do it\\\"}],\\n    \\\"content_to_steal\\\": [{\\\"what\\\": \\\"content idea\\\", \\\"your_angle\\\": \\\"improvement\\\"}],\\n    \\\"ad_ideas\\\": [{\\\"concept\\\": \\\"ad concept\\\", \\\"hook\\\": \\\"suggested hook\\\"}]\\n  }\\n}\\n\\nReturn ONLY the JSON, no other text.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "claude-analysis",
      "name": "Claude - Competitive Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [950, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's response and extract JSON\nconst response = $input.first().json;\nconst content = response.content[0].text;\n\nlet analysis;\ntry {\n  // Try direct JSON parse\n  analysis = JSON.parse(content);\n} catch (e) {\n  // Try to extract JSON from markdown code block\n  const jsonMatch = content.match(/```json\\n?([\\s\\S]*?)\\n?```/) || content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const jsonStr = jsonMatch[1] || jsonMatch[0];\n    analysis = JSON.parse(jsonStr);\n  } else {\n    throw new Error('Could not parse Claude response as JSON: ' + content.substring(0, 500));\n  }\n}\n\n// Validate required fields\nconst required = ['company_name', 'executive_summary', 'positioning', 'messaging', 'gaps_and_opportunities', 'how_to_beat_them'];\nfor (const field of required) {\n  if (!analysis[field]) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\nreturn { json: analysis };"
      },
      "id": "parse-analysis",
      "name": "Parse Analysis JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format the analysis into a Gamma-friendly prompt\nconst a = $input.first().json;\n\nconst formatList = (arr) => {\n  if (!arr || !Array.isArray(arr)) return '- N/A';\n  return arr.map(item => {\n    if (typeof item === 'string') return `- ${item}`;\n    if (typeof item === 'object') {\n      return Object.entries(item).map(([k, v]) => `  - ${k}: ${v}`).join('\\n');\n    }\n    return `- ${item}`;\n  }).join('\\n');\n};\n\nconst gammaPrompt = `\nCreate a professional competitive intelligence deck analyzing ${a.company_name}.\n\n## SLIDE 1: COVER\nTitle: \"${a.company_name} Playbook\"\nSubtitle: \"Competitive Intelligence Report\"\nDate: ${a.analysis_date || new Date().toISOString().split('T')[0]}\nStyle: Bold, professional, dark theme\n\n## SLIDE 2: EXECUTIVE SUMMARY\nTitle: \"Key Intelligence\"\n\nThreat Level: ${a.executive_summary?.threat_level || 'MEDIUM'}\n\n${a.executive_summary?.one_liner || ''}\n\nKey Insights:\n${formatList(a.executive_summary?.key_insights)}\n\n## SLIDE 3: POSITIONING ANALYSIS\nTitle: \"How They Position Themselves\"\n\nValue Proposition: ${a.positioning?.value_proposition || 'N/A'}\n\nTarget Audience: ${a.positioning?.target_audience || 'N/A'}\n\nMarket Position: ${a.positioning?.market_position || 'N/A'}\n\nKey Differentiators:\n${formatList(a.positioning?.key_differentiators)}\n\n## SLIDE 4: MESSAGING BREAKDOWN\nTitle: \"Their Messaging Playbook\"\n\nBrand Voice: ${a.messaging?.brand_voice || 'N/A'}\n\nPrimary Hooks:\n${a.messaging?.primary_hooks?.map(h => `- \"${h.hook}\" (${h.type}) - ${h.effectiveness}`).join('\\n') || '- N/A'}\n\nKey Phrases: ${a.messaging?.key_phrases?.join(', ') || 'N/A'}\n\nProof Elements:\n${formatList(a.messaging?.proof_elements)}\n\n## SLIDE 5: CONTENT STRATEGY\nTitle: \"Content Machine Analysis\"\n\nContent Pillars: ${a.content_strategy?.content_pillars?.join(', ') || 'N/A'}\n\nFormats Used: ${a.content_strategy?.formats_used?.join(', ') || 'N/A'}\n\nPublishing Frequency: ${a.content_strategy?.publishing_frequency || 'N/A'}\n\nTop Content:\n${a.content_strategy?.top_performing_content?.map(c => `- ${c.title} (${c.format})`).join('\\n') || '- N/A'}\n\nDistribution: ${a.content_strategy?.distribution_channels?.join(', ') || 'N/A'}\n\n## SLIDE 6: AD PSYCHOLOGY\nTitle: \"Advertising Tactics\"\n\nAd Activity: ${a.ad_psychology?.ad_volume || 'N/A'}\n\nAd Types: ${a.ad_psychology?.primary_ad_types?.join(', ') || 'N/A'}\n\nVisual Style: ${a.ad_psychology?.visual_style || 'N/A'}\n\nHook Patterns:\n${a.ad_psychology?.hook_patterns?.map(p => `- ${p.pattern}: \"${p.example}\"`).join('\\n') || '- N/A'}\n\nCTA Patterns: ${a.ad_psychology?.cta_patterns?.join(', ') || 'N/A'}\n\n## SLIDE 7: GAPS & OPPORTUNITIES\nTitle: \"Where They're Vulnerable\"\n\nContent Gaps:\n${a.gaps_and_opportunities?.content_gaps?.map(g => `- GAP: ${g.gap}\\n  OPPORTUNITY: ${g.opportunity}`).join('\\n') || '- N/A'}\n\nMessaging Gaps:\n${a.gaps_and_opportunities?.messaging_gaps?.map(g => `- GAP: ${g.gap}\\n  OPPORTUNITY: ${g.opportunity}`).join('\\n') || '- N/A'}\n\nAudience Gaps:\n${a.gaps_and_opportunities?.audience_gaps?.map(g => `- GAP: ${g.gap}\\n  OPPORTUNITY: ${g.opportunity}`).join('\\n') || '- N/A'}\n\n## SLIDE 8: HOW TO BEAT THEM\nTitle: \"Your Attack Plan\"\n\nQuick Wins (This Week):\n${a.how_to_beat_them?.quick_wins?.map(w => `- ${w.tactic} [${w.effort}] - ${w.why}`).join('\\n') || '- N/A'}\n\nPositioning Plays:\n${a.how_to_beat_them?.positioning_plays?.map(p => `- ${p.play}: ${p.execution}`).join('\\n') || '- N/A'}\n\nContent to Steal:\n${a.how_to_beat_them?.content_to_steal?.map(c => `- ${c.what} → Your angle: ${c.your_angle}`).join('\\n') || '- N/A'}\n\nAd Ideas:\n${a.how_to_beat_them?.ad_ideas?.map(ad => `- ${ad.concept}: \"${ad.hook}\"`).join('\\n') || '- N/A'}\n\n## SLIDE 9: NEXT STEPS\nTitle: \"Ready to Win?\"\n\nThis analysis was generated by AI in under 60 seconds.\n\nWant us to run this on YOUR competitors?\n\nBook a strategy call →\n`.trim();\n\nreturn {\n  json: {\n    prompt: gammaPrompt,\n    company_name: a.company_name,\n    company_url: a.company_url,\n    analysis: a\n  }\n};"
      },
      "id": "format-gamma-prompt",
      "name": "Format Gamma Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "url": "https://api.gamma.app/api/v1/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $credentials.gammaApi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"presentation\",\n  \"topic\": \"{{ $json.company_name }} Competitive Playbook\",\n  \"content\": {{ JSON.stringify($json.prompt) }},\n  \"audience\": \"Marketing and growth teams analyzing competitors\",\n  \"tone\": \"professional\",\n  \"length\": \"detailed\",\n  \"imageStyle\": \"modern\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "gamma-generate",
      "name": "Gamma - Generate Deck",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 300]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "wait-for-generation",
      "name": "Wait 10s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1950, 300]
    },
    {
      "parameters": {
        "url": "=https://api.gamma.app/api/v1/generate/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $credentials.gammaApi.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "gamma-check-status",
      "name": "Gamma - Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-completion",
      "name": "Is Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format the final response\nconst gammaResponse = $input.first().json;\n\nreturn {\n  json: {\n    success: true,\n    deck_url: gammaResponse.url || gammaResponse.deck_url,\n    deck_id: gammaResponse.id,\n    company_analyzed: gammaResponse.company_name || 'Competitor',\n    generated_at: new Date().toISOString(),\n    message: `Competitive playbook generated successfully! View your deck at: ${gammaResponse.url || gammaResponse.deck_url}`\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2700, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2950, 200]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "wait-and-retry",
      "name": "Wait & Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2700, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Firecrawl - Homepage",
            "type": "main",
            "index": 0
          },
          {
            "node": "Firecrawl - About Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Firecrawl - Pricing Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Firecrawl - Blog",
            "type": "main",
            "index": 0
          },
          {
            "node": "ScrapeCreators - LinkedIn Company",
            "type": "main",
            "index": 0
          },
          {
            "node": "ScrapeCreators - Instagram Profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "ScrapeCreators - Meta Ad Library",
            "type": "main",
            "index": 0
          },
          {
            "node": "DataForSEO - Domain Overview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl - Homepage": {
      "main": [
        [
          {
            "node": "Merge Website Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl - About Page": {
      "main": [
        [
          {
            "node": "Merge Website Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Firecrawl - Pricing Page": {
      "main": [
        [
          {
            "node": "Merge Website Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Firecrawl - Blog": {
      "main": [
        [
          {
            "node": "Merge Website Data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "ScrapeCreators - LinkedIn Company": {
      "main": [
        [
          {
            "node": "Merge Website Data",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "ScrapeCreators - Instagram Profile": {
      "main": [
        [
          {
            "node": "Merge Website Data",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "ScrapeCreators - Meta Ad Library": {
      "main": [
        [
          {
            "node": "Merge Website Data",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "DataForSEO - Domain Overview": {
      "main": [
        [
          {
            "node": "Merge Website Data",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Merge Website Data": {
      "main": [
        [
          {
            "node": "Process Website Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Website Data": {
      "main": [
        [
          {
            "node": "Claude - Competitive Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Competitive Analysis": {
      "main": [
        [
          {
            "node": "Parse Analysis JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Analysis JSON": {
      "main": [
        [
          {
            "node": "Format Gamma Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Gamma Prompt": {
      "main": [
        [
          {
            "node": "Gamma - Generate Deck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gamma - Generate Deck": {
      "main": [
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s": {
      "main": [
        [
          {
            "node": "Gamma - Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gamma - Check Status": {
      "main": [
        [
          {
            "node": "Is Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Complete?": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait & Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait & Retry": {
      "main": [
        [
          {
            "node": "Gamma - Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Gamma",
      "createdAt": "2025-01-14T00:00:00.000Z",
      "updatedAt": "2025-01-14T00:00:00.000Z"
    },
    {
      "name": "Competitive Intelligence",
      "createdAt": "2025-01-14T00:00:00.000Z",
      "updatedAt": "2025-01-14T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-14T00:00:00.000Z",
  "versionId": "1"
}
