workflow.json
{
  "name": "Competitor Playbook Generator (Gamma)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "competitor-playbook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "competitor-playbook"
    },
    {
      "parameters": {
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.body.url }}\",\n  \"formats\": [\"markdown\", \"html\"],\n  \"onlyMainContent\": true,\n  \"includeTags\": [\"h1\", \"h2\", \"h3\", \"p\", \"li\", \"a\"],\n  \"waitFor\": 3000\n}",
        "options": {}
      },
      "id": "firecrawl-homepage",
      "name": "Firecrawl - Homepage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 100],
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "firecrawl-api",
          "name": "Firecrawl API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.body.url }}/about\",\n  \"formats\": [\"markdown\"],\n  \"onlyMainContent\": true,\n  \"waitFor\": 2000\n}",
        "options": {}
      },
      "id": "firecrawl-about",
      "name": "Firecrawl - About Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 250],
      "retryOnFail": true,
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "firecrawl-api",
          "name": "Firecrawl API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.body.url }}/pricing\",\n  \"formats\": [\"markdown\"],\n  \"onlyMainContent\": true,\n  \"waitFor\": 2000\n}",
        "options": {}
      },
      "id": "firecrawl-pricing",
      "name": "Firecrawl - Pricing Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 400],
      "retryOnFail": true,
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "firecrawl-api",
          "name": "Firecrawl API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.body.url }}/blog\",\n  \"formats\": [\"markdown\"],\n  \"onlyMainContent\": true,\n  \"waitFor\": 2000\n}",
        "options": {}
      },
      "id": "firecrawl-blog",
      "name": "Firecrawl - Blog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 550],
      "retryOnFail": true,
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "firecrawl-api",
          "name": "Firecrawl API"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.scrapecreators.com/v1/linkedin/company?url=https://linkedin.com/company/{{ $json.body.linkedin_handle }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "scrapecreators-linkedin",
      "name": "ScrapeCreators - LinkedIn Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 700],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "scrapecreators",
          "name": "Scrapecreators"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.scrapecreators.com/v1/instagram/profile?handle={{ $json.body.instagram_handle }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "scrapecreators-instagram",
      "name": "ScrapeCreators - Instagram Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 850],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "scrapecreators",
          "name": "Scrapecreators"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.scrapecreators.com/v1/facebookadlibrary/profile?handle={{ $json.body.facebook_handle }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "scrapecreators-meta-ads",
      "name": "ScrapeCreators - Meta Ad Library",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 1000],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "scrapecreators",
          "name": "Scrapecreators"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/dataforseo_labs/google/domain_rank_overview/live",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"target\": \"{{ $json.body.url.replace('https://', '').replace('http://', '').replace('www.', '').split('/')[0] }}\"\n  }\n]",
        "options": {
          "timeout": 30000
        }
      },
      "id": "dataforseo-overview",
      "name": "DataForSEO - Domain Overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 1150],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "dataforseo-api",
          "name": "DataForSEO API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine all data sources\nconst items = $input.all();\n\nlet data = {\n  website: {\n    homepage: '',\n    about: '',\n    pricing: '',\n    blog: ''\n  },\n  social: {\n    linkedin: null,\n    instagram: null\n  },\n  ads: {\n    meta: null\n  },\n  seo: null\n};\n\n// Process each input\nfor (const item of items) {\n  const json = item.json;\n\n  // Firecrawl website data\n  if (json.data && json.data.markdown) {\n    const url = json.data.metadata?.url || '';\n    const content = json.data.markdown.substring(0, 15000);\n\n    if (url.includes('/about')) {\n      data.website.about = content;\n    } else if (url.includes('/pricing')) {\n      data.website.pricing = content;\n    } else if (url.includes('/blog')) {\n      data.website.blog = content;\n    } else if (json.data.metadata?.url) {\n      data.website.homepage = content;\n    }\n  }\n\n  // ScrapeCreators LinkedIn\n  if (json.name && json.employeeCount !== undefined) {\n    data.social.linkedin = {\n      name: json.name,\n      description: json.description,\n      slogan: json.slogan,\n      employeeCount: json.employeeCount,\n      website: json.website,\n      location: json.location,\n      posts: json.posts || []\n    };\n  }\n\n  // ScrapeCreators Instagram\n  if (json.username && json.followerCount !== undefined) {\n    data.social.instagram = {\n      username: json.username,\n      fullName: json.fullName,\n      bio: json.bio,\n      followerCount: json.followerCount,\n      followingCount: json.followingCount,\n      postCount: json.postCount,\n      posts: (json.posts || []).slice(0, 12)\n    };\n  }\n\n  // ScrapeCreators Meta Ads\n  if (json.ads || json.adCount !== undefined) {\n    data.ads.meta = {\n      adCount: json.adCount || (json.ads ? json.ads.length : 0),\n      ads: (json.ads || []).slice(0, 10),\n      pageInfo: json.pageInfo\n    };\n  }\n\n  // DataForSEO\n  if (json.tasks && json.tasks[0]?.result) {\n    const seoResult = json.tasks[0].result[0];\n    if (seoResult?.metrics) {\n      data.seo = {\n        organicTraffic: seoResult.metrics.organic?.etv,\n        organicKeywords: seoResult.metrics.organic?.count,\n        paidTraffic: seoResult.metrics.paid?.etv,\n        estimatedValue: seoResult.metrics.organic?.estimated_paid_traffic_cost\n      };\n    }\n  }\n}\n\n// Get original URL from webhook\nconst originalUrl = items[0]?.json?.body?.url || 'Unknown';\n\nreturn {\n  json: {\n    original_url: originalUrl,\n    website_data: data.website,\n    social_data: data.social,\n    ad_data: data.ads,\n    seo_data: data.seo,\n    scraped_at: new Date().toISOString()\n  }\n};"
      },
      "id": "process-website-data",
      "name": "Process Website Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://github.com/themattberman/n8n-gamma"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-sonnet-4\",\n  \"max_tokens\": 8000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an elite competitive intelligence analyst. Your analysis is direct, actionable, and data-driven. You focus on 'stealable' tactics and specific recommendations. Always output valid JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze this competitor and generate a comprehensive playbook breakdown.\\n\\n## COMPANY URL\\n{{ $json.original_url }}\\n\\n## HOMEPAGE CONTENT\\n{{ $json.website_data.homepage }}\\n\\n## ABOUT PAGE\\n{{ $json.website_data.about }}\\n\\n## PRICING PAGE\\n{{ $json.website_data.pricing }}\\n\\n## BLOG CONTENT\\n{{ $json.website_data.blog }}\\n\\n## LINKEDIN DATA\\n{{ JSON.stringify($json.social_data.linkedin) }}\\n\\n## INSTAGRAM DATA\\n{{ JSON.stringify($json.social_data.instagram) }}\\n\\n## META ADS DATA\\n{{ JSON.stringify($json.ad_data.meta) }}\\n\\n## SEO DATA\\n{{ JSON.stringify($json.seo_data) }}\\n\\n---\\n\\nGenerate your analysis as a JSON object with this exact structure:\\n\\n{\\n  \\\"company_name\\\": \\\"extracted company name\\\",\\n  \\\"company_url\\\": \\\"the URL analyzed\\\",\\n  \\\"analysis_date\\\": \\\"today's date\\\",\\n  \\\"executive_summary\\\": {\\n    \\\"one_liner\\\": \\\"One sentence summary\\\",\\n    \\\"threat_level\\\": \\\"LOW | MEDIUM | HIGH | CRITICAL\\\",\\n    \\\"key_insights\\\": [\\\"insight 1\\\", \\\"insight 2\\\", \\\"insight 3\\\", \\\"insight 4\\\", \\\"insight 5\\\"]\\n  },\\n  \\\"positioning\\\": {\\n    \\\"value_proposition\\\": \\\"Their core value prop\\\",\\n    \\\"target_audience\\\": \\\"Who they sell to\\\",\\n    \\\"key_differentiators\\\": [\\\"diff 1\\\", \\\"diff 2\\\", \\\"diff 3\\\"],\\n    \\\"market_position\\\": \\\"Leader | Challenger | Niche | Emerging\\\"\\n  },\\n  \\\"messaging\\\": {\\n    \\\"brand_voice\\\": \\\"Their tone and style\\\",\\n    \\\"primary_hooks\\\": [{\\\"hook\\\": \\\"exact text\\\", \\\"type\\\": \\\"Pain | Gain | Fear | Curiosity\\\", \\\"effectiveness\\\": \\\"why it works\\\"}],\\n    \\\"key_phrases\\\": [\\\"phrase 1\\\", \\\"phrase 2\\\"],\\n    \\\"proof_elements\\\": [\\\"proof 1\\\", \\\"proof 2\\\"]\\n  },\\n  \\\"content_strategy\\\": {\\n    \\\"content_pillars\\\": [\\\"topic 1\\\", \\\"topic 2\\\"],\\n    \\\"formats_used\\\": [\\\"blog\\\", \\\"video\\\"],\\n    \\\"publishing_frequency\\\": \\\"how often\\\",\\n    \\\"top_performing_content\\\": [{\\\"title\\\": \\\"content title\\\", \\\"format\\\": \\\"type\\\", \\\"why_it_works\\\": \\\"analysis\\\"}],\\n    \\\"distribution_channels\\\": [\\\"channel 1\\\", \\\"channel 2\\\"],\\n    \\\"social_metrics\\\": {\\n      \\\"linkedin_followers\\\": \\\"count or N/A\\\",\\n      \\\"instagram_followers\\\": \\\"count or N/A\\\",\\n      \\\"posting_frequency\\\": \\\"how often\\\",\\n      \\\"engagement_rate\\\": \\\"estimate or N/A\\\"\\n    }\\n  },\\n  \\\"ad_psychology\\\": {\\n    \\\"ad_volume\\\": \\\"number of active ads or N/A\\\",\\n    \\\"primary_ad_types\\\": [\\\"type 1\\\"],\\n    \\\"hook_patterns\\\": [{\\\"pattern\\\": \\\"pattern name\\\", \\\"example\\\": \\\"text\\\", \\\"psychological_trigger\\\": \\\"trigger\\\"}],\\n    \\\"visual_style\\\": \\\"description\\\",\\n    \\\"cta_patterns\\\": [\\\"cta 1\\\"]\\n  },\\n  \\\"seo_intelligence\\\": {\\n    \\\"estimated_traffic\\\": \\\"monthly organic traffic or N/A\\\",\\n    \\\"organic_keywords\\\": \\\"number of ranking keywords or N/A\\\",\\n    \\\"estimated_traffic_value\\\": \\\"dollar value or N/A\\\",\\n    \\\"top_opportunities\\\": [\\\"keyword gap 1\\\", \\\"keyword gap 2\\\"]\\n  },\\n  \\\"gaps_and_opportunities\\\": {\\n    \\\"content_gaps\\\": [{\\\"gap\\\": \\\"what's missing\\\", \\\"opportunity\\\": \\\"how to exploit\\\"}],\\n    \\\"messaging_gaps\\\": [{\\\"gap\\\": \\\"angle missing\\\", \\\"opportunity\\\": \\\"how to exploit\\\"}],\\n    \\\"audience_gaps\\\": [{\\\"gap\\\": \\\"segment ignored\\\", \\\"opportunity\\\": \\\"how to capture\\\"}]\\n  },\\n  \\\"how_to_beat_them\\\": {\\n    \\\"quick_wins\\\": [{\\\"tactic\\\": \\\"action\\\", \\\"why\\\": \\\"reason\\\", \\\"effort\\\": \\\"LOW | MEDIUM | HIGH\\\"}],\\n    \\\"positioning_plays\\\": [{\\\"play\\\": \\\"strategy\\\", \\\"execution\\\": \\\"how to do it\\\"}],\\n    \\\"content_to_steal\\\": [{\\\"what\\\": \\\"content idea\\\", \\\"your_angle\\\": \\\"improvement\\\"}],\\n    \\\"ad_ideas\\\": [{\\\"concept\\\": \\\"ad concept\\\", \\\"hook\\\": \\\"suggested hook\\\"}]\\n  }\\n}\\n\\nReturn ONLY the JSON, no other text.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "claude-analysis",
      "name": "Claude - Competitive Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [950, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openrouter",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's response from OpenRouter\nconst response = $input.first().json;\n\n// OpenRouter returns in OpenAI format: choices[0].message.content\nconst content = response.choices?.[0]?.message?.content || response.content?.[0]?.text;\n\nif (!content) {\n  throw new Error('No content in response: ' + JSON.stringify(response).substring(0, 500));\n}\n\nlet analysis;\ntry {\n  analysis = JSON.parse(content);\n} catch (e) {\n  const jsonMatch = content.match(/```json\\n?([\\s\\S]*?)\\n?```/) || content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const jsonStr = jsonMatch[1] || jsonMatch[0];\n    analysis = JSON.parse(jsonStr);\n  } else {\n    throw new Error('Could not parse response as JSON: ' + content.substring(0, 500));\n  }\n}\n\n// Validate required fields\nconst required = ['company_name', 'executive_summary', 'positioning', 'messaging', 'gaps_and_opportunities', 'how_to_beat_them'];\nfor (const field of required) {\n  if (!analysis[field]) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\nreturn { json: analysis };"
      },
      "id": "parse-analysis",
      "name": "Parse Analysis JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format the analysis for Gamma Remix API\n// This fills in the LEAKED INTEL template while allowing text variation\nconst a = $input.first().json;\n\n// Build the remix prompt - tells Gamma how to fill the template\nconst remixPrompt = `\nAdapt this competitive intelligence template for ${a.company_name} (${a.company_url || 'N/A'}).\n\nIMPORTANT: Keep the template's visual design, layout, and structure intact. Replace the example Notion data with the competitor data below. Vary the phrasing of recommendations and insights so each report feels fresh and unique.\n\n---\n\n## SLIDE 1: COVER\nCompany: ${a.company_name}\nTitle: \"The ${a.company_name} Playbook They Don't Want You to See\"\nSubtitle: \"Every ad, every tactic, every weakness (exposed).\"\nDate: Q1 ${new Date().getFullYear()}\n\n## SLIDE 2: KEY INSIGHTS\nThreat Level Badge: ${a.executive_summary?.threat_level || 'MEDIUM'}\nSummary: ${a.executive_summary?.one_liner || 'Competitive analysis complete.'}\n\nThree key insight cards (keep card layout):\n1. ${a.executive_summary?.key_insights?.[0] || 'Key finding from analysis'}\n2. ${a.executive_summary?.key_insights?.[1] || 'Second strategic insight'}\n3. ${a.executive_summary?.key_insights?.[2] || 'Third actionable takeaway'}\n\n## SLIDE 3: HOW THEY DOMINATE\nTarget Segments: ${a.positioning?.target_audience || 'N/A'}\n\nWhy They Win (three benefit cards):\n1. ${a.positioning?.key_differentiators?.[0] || 'Core differentiator'}\n2. ${a.positioning?.key_differentiators?.[1] || 'Second advantage'}\n3. ${a.positioning?.key_differentiators?.[2] || 'Third strength'}\n\nMarket Position: ${a.positioning?.market_position || 'N/A'}\nValue Proposition: ${a.positioning?.value_proposition || 'N/A'}\n\n## SLIDE 4: THEIR MESSAGING PLAYBOOK\nBrand Voice: ${a.messaging?.brand_voice || 'N/A'}\n\nPrimary Hooks (quote style with appeal type):\n${a.messaging?.primary_hooks?.slice(0, 3).map(h => `- \"${h.hook}\" — ${h.type} appeal`).join('\\n') || '- No hooks identified'}\n\nSocial Proof Elements:\n${a.messaging?.proof_elements?.slice(0, 3).map(p => `- ${p}`).join('\\n') || '- N/A'}\n\nKey Phrases: ${a.messaging?.key_phrases?.join(', ') || 'N/A'}\n\n## SLIDE 5: CONTENT MACHINE ANALYSIS\nSocial Metrics:\n- LinkedIn Followers: ${a.content_strategy?.social_metrics?.linkedin_followers || 'N/A'}\n- Instagram Followers: ${a.content_strategy?.social_metrics?.instagram_followers || 'N/A'}\n- Posting Frequency: ${a.content_strategy?.social_metrics?.posting_frequency || 'N/A'}\n\nPublishing Frequency: ${a.content_strategy?.publishing_frequency || 'N/A'}\n\nContent Pillars:\n${a.content_strategy?.content_pillars?.map((p, i) => `${i + 1}. ${p}`).join('\\n') || '1. N/A'}\n\nTop Performing Content:\n${a.content_strategy?.top_performing_content?.slice(0, 3).map(c => `- ${c.title} (${c.format})`).join('\\n') || '- N/A'}\n\n## SLIDE 6: THEIR AD STRATEGY (EXPOSED)\nActive Creatives: ${a.ad_psychology?.ad_volume || 'N/A'}\n\nAd Types:\n${a.ad_psychology?.primary_ad_types?.map(t => `- ${t}`).join('\\n') || '- N/A'}\n\nHook Patterns with psychological triggers:\n${a.ad_psychology?.hook_patterns?.slice(0, 3).map(p => `- ${p.pattern}: \"${p.example}\" → ${p.psychological_trigger}`).join('\\n') || '- No patterns identified'}\n\nVisual Style: ${a.ad_psychology?.visual_style || 'N/A'}\n\nWhat This Means (write a fresh punchy summary of their ad strategy - vary wording each time)\n\n## SLIDE 7: SEO DOMINANCE\nMonthly Organic Visitors: ${a.seo_intelligence?.estimated_traffic || 'N/A'}\nRanking Keywords: ${a.seo_intelligence?.organic_keywords || 'N/A'}\nMonthly Traffic Value: ${a.seo_intelligence?.estimated_traffic_value || 'N/A'}\n\nWhere to Attack (keyword opportunities):\n${a.seo_intelligence?.top_opportunities?.slice(0, 3).map(o => `- ${o}`).join('\\n') || '- No opportunities identified'}\n\n## SLIDE 8: THEIR WEAK SPOTS\nKeep CRITICAL badge styling.\n\nContent Gap:\n- Gap: ${a.gaps_and_opportunities?.content_gaps?.[0]?.gap || 'N/A'}\n- Your Move: ${a.gaps_and_opportunities?.content_gaps?.[0]?.opportunity || 'N/A'}\n\nMessaging Gap:\n- Gap: ${a.gaps_and_opportunities?.messaging_gaps?.[0]?.gap || 'N/A'}\n- Your Move: ${a.gaps_and_opportunities?.messaging_gaps?.[0]?.opportunity || 'N/A'}\n\nAudience Gap:\n- Gap: ${a.gaps_and_opportunities?.audience_gaps?.[0]?.gap || 'N/A'}\n- Your Move: ${a.gaps_and_opportunities?.audience_gaps?.[0]?.opportunity || 'N/A'}\n\n## SLIDE 9: YOUR ATTACK PLAN\nKeep ACTION PLAN badge styling.\n\nQuick Wins (This Week):\n${a.how_to_beat_them?.quick_wins?.slice(0, 2).map(w => `- ${w.tactic}`).join('\\n') || '- N/A'}\n\nPositioning Strategy:\n${a.how_to_beat_them?.positioning_plays?.slice(0, 2).map(p => `- \"${p.play}\" - ${p.execution}`).join('\\n') || '- N/A'}\n\nAd Concepts to Test:\n${a.how_to_beat_them?.ad_ideas?.slice(0, 2).map(ad => `- \"${ad.hook}\" - ${ad.concept}`).join('\\n') || '- N/A'}\n\n## SLIDE 10: CTA\nKeep \"Want This Intel on YOUR Competitors?\" messaging and stat cards.\nStats: 8 Data Sources | 60 sec | 100% Actionable Intel\nCTA: \"Get Your Custom Playbook →\"\n\n---\n\nVARIATION INSTRUCTIONS:\n- Rephrase the \"What This Means\" ad strategy callout uniquely\n- Vary action verbs in Quick Wins and Attack Plan\n- Keep dramatic tone but avoid identical phrasing to previous reports\n- Maintain CRITICAL and ACTION PLAN badge styling\n`.trim();\n\nreturn {\n  json: {\n    prompt: remixPrompt,\n    company_name: a.company_name,\n    company_url: a.company_url,\n    analysis: a\n  }\n};"
      },
      "id": "format-gamma-prompt",
      "name": "Format Gamma Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "url": "https://public-api.gamma.app/v1.0/generations/from-template",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"gammaId\": \"eoome91twvsxzzj\",\n  \"prompt\": {{ JSON.stringify($json.prompt) }}\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "gamma-generate",
      "name": "Gamma - Remix Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gamma-api",
          "name": "Gamma API"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "wait-for-generation",
      "name": "Wait 10s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1950, 300]
    },
    {
      "parameters": {
        "url": "=https://public-api.gamma.app/v1.0/generations/{{ $json.generationId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "gamma-check-status",
      "name": "Gamma - Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gamma-api",
          "name": "Gamma API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-completion",
      "name": "Is Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format the final response\nconst gammaResponse = $input.first().json;\n\nreturn {\n  json: {\n    success: true,\n    deck_url: gammaResponse.gammaUrl,\n    generation_id: gammaResponse.generationId,\n    credits_used: gammaResponse.credits?.deducted || 0,\n    credits_remaining: gammaResponse.credits?.remaining || 0,\n    generated_at: new Date().toISOString(),\n    message: `Competitive playbook generated successfully! View your deck at: ${gammaResponse.gammaUrl}`\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2700, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2950, 200]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "wait-and-retry",
      "name": "Wait & Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2700, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Firecrawl - Homepage",
            "type": "main",
            "index": 0
          },
          {
            "node": "Firecrawl - About Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Firecrawl - Pricing Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Firecrawl - Blog",
            "type": "main",
            "index": 0
          },
          {
            "node": "ScrapeCreators - LinkedIn Company",
            "type": "main",
            "index": 0
          },
          {
            "node": "ScrapeCreators - Instagram Profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "ScrapeCreators - Meta Ad Library",
            "type": "main",
            "index": 0
          },
          {
            "node": "DataForSEO - Domain Overview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl - Homepage": {
      "main": [
        [
          {
            "node": "Process Website Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl - About Page": {
      "main": [
        [
          {
            "node": "Process Website Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl - Pricing Page": {
      "main": [
        [
          {
            "node": "Process Website Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl - Blog": {
      "main": [
        [
          {
            "node": "Process Website Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScrapeCreators - LinkedIn Company": {
      "main": [
        [
          {
            "node": "Process Website Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScrapeCreators - Instagram Profile": {
      "main": [
        [
          {
            "node": "Process Website Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScrapeCreators - Meta Ad Library": {
      "main": [
        [
          {
            "node": "Process Website Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataForSEO - Domain Overview": {
      "main": [
        [
          {
            "node": "Process Website Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Website Data": {
      "main": [
        [
          {
            "node": "Claude - Competitive Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Competitive Analysis": {
      "main": [
        [
          {
            "node": "Parse Analysis JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Analysis JSON": {
      "main": [
        [
          {
            "node": "Format Gamma Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Gamma Prompt": {
      "main": [
        [
          {
            "node": "Gamma - Remix Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gamma - Remix Template": {
      "main": [
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s": {
      "main": [
        [
          {
            "node": "Gamma - Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gamma - Check Status": {
      "main": [
        [
          {
            "node": "Is Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Complete?": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait & Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait & Retry": {
      "main": [
        [
          {
            "node": "Gamma - Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Gamma",
      "createdAt": "2025-01-14T00:00:00.000Z",
      "updatedAt": "2025-01-14T00:00:00.000Z"
    },
    {
      "name": "Competitive Intelligence",
      "createdAt": "2025-01-14T00:00:00.000Z",
      "updatedAt": "2025-01-14T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-14T00:00:00.000Z",
  "versionId": "1"
}
